<h1>Dr. <%=@doctor.last_name%>'s Appointments</h1>
<%= link_to "Add Appointment", new_doctor_appointment_path(@doctor)%>
<hr>

<ul>
  <% @doctor.appointments.each do |appt| %>
    <li><%= appt.date %> : <%= appt.patient.full_name %> </li>
    <%= link_to "Remove Appointment", doctor_appointment_path(@doctor, appt), method: :delete %>
    <br />
    <br />
  <% end %>
</ul>
