<h1>Add Appointment</h1>
<hr>
<%= form_with(model: [@doctor, @appointment], local: true, class: "ui form" ) do |f| %>
  <%= f.label :patient %>
  <%= f.select :patient_id, @patients.collect { |p| [p.full_name, p.id] } %>
  <br />
  <%= f.label :date %>
  <%= f.text_field :date, placeholder: "2019-04-14" %>
  <br />
  <%= f.submit nil, class: "ui green button inverted" %>
<% end %>